pyTelegramBotAPI       
psutil           
requests             
Flask                  
qrcode                  
Pillow                 
cryptography  
protobuf
httpx
google
protobuf
pycryptodome
PyJWT
urllib3
protobuf-decoder
pytz
aiohttp
cfonts          
Flask-SocketIO
eventlet
dotenv